*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(197, 197, 188);
}

li, a, button{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 16px;
    color: black;text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.name{
    cursor: pointer;
}

.nav_list{
    list-style: none;
}

.nav_list li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_list a{
    transition: all 0.3s ease 0s;
}

.nav_list a:hover{
    color:blue
}

button{
    padding: 9px 25px;
    background-color: rgba(184, 23, 23, 1)
    
}